.answer-item {
  color: #444;
  background-color: #fff;
  padding: 5px;
  width: 32px;
  height: 32px;
  border: 1px solid #888;
  line-height: 1em;
  color: #444;
  font-weight: bold;
  font-size: 1em;
  text-align: center;

  &.selected {
    color: #3c763d;
    background-color: #dff0d8;
  }

  &.protected {
    color: #31708f;
    background-color: #d9edf7;
  }

  &.error {
    color: #a94442;
    background-color: #f2dede;
  }
}
